



/* INFO BAR - sve stranice */


.info-bar {
    background-color: #284c53;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.info-bar:hover {
    background-color: #071825;
}

.info-item {
    display: inline-block;
    margin: 0 15px;
    color: white;
    transition: transform 0.3s ease;
}

.info-item:hover {
    transform: translateY(-2px);
}

.info-item i {
    margin-right: 5px;
}









/* Footer - sve stranice */


.footer {
    background-color: #284c53;
    padding: 40px 20px;
    color: #ffffff;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 0 20px 20px;
    min-width: 200px;
    text-align: center;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section p, .footer-section ul {
    font-size: 14px;
    line-height: 1.6;
    color: #ffffff;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icon {
    margin: 0 10px;
}

.social-icon img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-icon img:hover {
    transform: scale(1.2);
}

.copyright {
    text-align: center;
    padding-top: 20px;
    margin-top: 40px;
    border-top: 1px solid #ddd;
    font-size: 12px;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #777477;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }
    .footer-section {
        margin: 20px 0;
        width: 100%;
    }
}